<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p class="text-center">Get started with your free account</p>
	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
	<form  #form = "ngForm" (ngSubmit)="onSubmit(form)">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input type="text" class="form-control" id="name" required maxlength="15" minlength="2"
		ngModel name="name" #name="ngModel" placeholder="First Name">
		<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">
  <div *ngIf="name.errors.required">
    Name is required.
  </div>
  <div *ngIf="name.errors.minlength">
    Name cannot be more than 15 characters long.
  </div>
  <div *ngIf="name.errors.minlength">
    Name must be at least 2 characters long.
  </div>
</div>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
   </div>
      <input name="lname" class="form-control" placeholder="Last name" type="text" [(ngModel)]="signup.lname">
  </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="emailId" class="form-control" placeholder="Email address" type="email" [(ngModel)]="signup.emailId">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="username" class="form-control" placeholder="User Name" type="username" [(ngModel)]="signup.username">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select class="custom-select" style="max-width: 120px;">
		    <option selected="">+91</option>
		    <option value="1">+1</option>
		    <option value="2">+4</option>
		    <option value="3">+7</option>
		</select>
    	<input name="mobileNo" class="form-control" placeholder="Phone number" type="text" [(ngModel)]="signup.mobileNo">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select class="form-control">
			<option selected=""> Select job type</option>
			<option>Designer</option>
			<option>Manager</option>
			<option>Accaunting</option>
		</select>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
		<input type="text" class="form-control" id="password" required UserRegistrationFormValidators.passwordShouldBeValid
		maxlength="15" minlength="8" [(ngModel)]="signup.password" name="password" #name="ngModel" placeholder="Enter Password">
		<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">
  <div *ngIf="name.errors.required">
    Password is required.
  </div>
  <div *ngIf="name.errors.minlength">
    Password cannot be more than 15 characters long.
  </div>
  <div *ngIf="name.errors.minlength">
    Password must be at least 8 characters long.
  </div>
  <div *ngIf="name.errors.characters">
    Password must not have @, % characters.
  </div>
</div>

        <input class="form-control" placeholder="Repeat password" type="password">
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="">Log In</a> </p>   

    {{signup | json}}    

</form>
</article>
</div> <!-- card.// -->

