<div class="container align-content-center border-primary">
<form class = 'card p-4 bg-light'>
<div id="HomeCarousel" class="carousel slide w-50 mr-auto" data-ride="carousel">
      <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img src="/assets/Image/city1.jpg" width="140" height="400" class="d-block w-100" alt="first slide">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="/assets/Image/city2.jpg" width="140" height="400" class="d-block w-100" alt="second slide">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="/assets/Image/city3.jpg" width="140" height="400" class="d-block w-100" alt="third slide">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="/assets/Image/city4.jpg" width="140" height="400" class="d-block w-100" alt="fourth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </form>
</div>